body {
    overflow: hidden;
}

*[role="heading"] {
    margin:0;
}

main[role="main"] {
    height: calc(100% - 50px);
    background: url("../images/bg-home-mobile.jpg") no-repeat fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

    > section {
        height:100%;

        .slogan {
            height:170px;
            padding:20px 0 0 150px;

            h2 {
                color: white;
                margin:0;
                font-size: 40px;
            }
        }

        .home-menu {
            height:100%;

            nav {
                position:relative;
                height:90%;
                top:5%;
                width: (558/640 * 100%);
                margin: 0 auto;

                .menu-button {
                    width:(321/558 * 100%);
                    height: 0;
                    padding-top: ( 276 / 558 * 100% );

                    text-align: center;
                    position:absolute;
                    top:0;

                    &:hover {
                        p:after {
                            display: block;
                        }
                    }

                    &:nth-child(1) {
                        left:0;

                        &:hover {
                            svg {
                                .polygon {
                                    fill:#f0847a;
                                    fill-opacity:1;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        right:0;
                        transform:translateY(50%);

                        &:hover {
                            svg {
                                .polygon {
                                    fill:#98c67f;
                                    fill-opacity:1;
                                }
                            }
                        }
                    }
                    &:nth-child(3) {
                        left:0;
                        transform:translateY(100%);

                        &:hover {
                            svg {
                                .polygon {
                                    fill:#5a8fa6;
                                    fill-opacity:1;
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        right:0;
                        transform:translateY(150%);

                        &:hover {
                            svg {
                                .polygon {
                                    fill:#fcc04b;
                                    fill-opacity:1;
                                }
                            }
                        }
                    }

                    svg {
                        position: absolute;
                        width:100%;
                        height:100%;
                        top: 0;
                        left: 0;
                    }

                    p {
                        color:#fff;
                        font-size:11px;
                        font-weight: bold;
                        position:absolute;
                        bottom:50%;
                        left:50%;
                        transform:translate(-50%, 50%);
                        margin:0;
                        width:100%;

                        span {
                            display: block;
                            padding:0 20px;
                        }

                        &:after {
                            display:none;
                            width:22px;
                            height:22px;
                            margin: 20px auto 0 auto;
                            background-size:cover;
                            content:'';
                            background-image: url('../images/icon-more.png');
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main[role="main"] {
        height: calc(100% - 80px);
        background: url("../images/bg-home.jpg") no-repeat fixed 50% 50%;
        background-size: cover; /* version standardisée */

        > section {
            .home-menu {
                nav {
                    width: (758/1280 * 100%);

                    .menu-button {
                        width:(220/758 * 100%);
                        height: 0;
                        padding-top: ( 220 / 758 * 100% );

                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px) and (max-width:1024px) {
    main[role="main"] {

        > section {
            .slogan {
                padding:20px 0 0 75px;
            }

            .home-menu {
                nav {
                    width: (600/768 * 100%);

                    .menu-button {
                        width:(190 / 600 * 100%);
                        height: 0;
                        padding-top: ( 190 / 600 * 100% );

                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    main[role="main"] {
        > section {
            .home-menu {
                nav {
                    top:0;

                    .menu-button {
                        &:nth-child(1) {
                            left:auto;
                            transform:rotate(30deg);
                        }
                        &:nth-child(3) {
                            left:auto;
                            transform:translateX(86.5%) rotate(30deg);
                        }
                        &:nth-child(4) {
                            right:auto;
                            transform:translateX(172.9%) rotate(30deg);
                        }
                        &:nth-child(5) {
                            transform:translate(43%, 74.9%) rotate(30deg);

                            &:hover {
                                svg {
                                    .polygon {
                                        fill:#a69d57;
                                        fill-opacity:1;
                                    }
                                }
                            }
                        }
                        &:nth-child(6) {
                            transform:translate(129.4%, 74.9%) rotate(30deg);

                            &:hover {
                                svg {
                                    .polygon {
                                        fill:#98c67f;
                                        fill-opacity:1;
                                    }
                                }
                            }
                        }
                        &:nth-child(7) {
                            transform:translate(215.9%, 74.9%) rotate(30deg);

                            &:hover {
                                svg {
                                    .polygon {
                                        fill:#e79655;
                                        fill-opacity:1;
                                    }
                                }
                            }
                        }

                        p {
                            transform:translate(-50%, 50%) rotate(-30deg);
                        }
                    }
                }
            }
        }
    }
}
