body {
    margin:0;
    font-family: "Arial";
}

.hide-on-small {
    display:none;
}

.polygon {
    fill: #292929;
    fill-opacity: 0.25;
    stroke: #fff;
    stroke-width: 1px;
    fill-rule: evenodd;
    transition: all 0.3s;
}

header[role="banner"] {
    height:40px;
    padding:5px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;

    .mobile-menu {
        background-color: transparent;
        border:none;
        width:45px;
        cursor:pointer;

        img {
            width:100%;
        }
    }

    picture {
        img {
            width:126px;
        }
    }

    .right-text {
        font-size:23px;
        margin:0;
        font-weight: bold;

        span {
            display:none;
        }
    }
}

footer[role="contentinfo"] {
    position:absolute;
    bottom:0;

    .left-buttons {
        background-color:black;
        padding:11px;
        cursor:pointer;

        a {
            img {
                width:17px;
            }
        }
    }
}
