@charset "UTF-8";
body {
  overflow: hidden;
}

*[role="heading"] {
  margin: 0;
}

main[role="main"] {
  height: calc(100% - 50px);
  background: url("../images/bg-home-mobile.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

main[role="main"] > section {
  height: 100%;
}

main[role="main"] > section .home-menu {
  height: 100%;
}

main[role="main"] > section .home-menu nav {
  position: relative;
  height: 90%;
  top: 5%;
  width: 87.1875%;
  margin: 0 auto;
}

main[role="main"] > section .home-menu nav .menu-button {
  width: 57.52688%;
  height: 40%;
  text-align: center;
  position: absolute;
}

main[role="main"] > section .home-menu nav .menu-button:hover p:after {
  display: block;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(1) {
  left: 0;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(1):hover svg .polygon {
  fill: #f0847a;
  fill-opacity: 1;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(2) {
  right: 0;
  top: 17.4%;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(2):hover svg .polygon {
  fill: #98c67f;
  fill-opacity: 1;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(3) {
  left: 0;
  top: 30.7%;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(3):hover svg .polygon {
  fill: #5a8fa6;
  fill-opacity: 1;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(4) {
  right: 0;
  top: 50.15625%;
}

main[role="main"] > section .home-menu nav .menu-button:nth-child(4):hover svg .polygon {
  fill: #fcc04b;
  fill-opacity: 1;
}

main[role="main"] > section .home-menu nav .menu-button svg {
  width: 100%;
  height: 100%;
}

main[role="main"] > section .home-menu nav .menu-button p {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
  width: 100%;
}

main[role="main"] > section .home-menu nav .menu-button p span {
  display: block;
  padding: 0 20px;
}

main[role="main"] > section .home-menu nav .menu-button p:after {
  display: none;
  width: 22px;
  height: 22px;
  margin: 20px auto 0 auto;
  background-size: cover;
  content: '';
  background-image: url("../images/icon-more.png");
}
